@media only screen and (min-width: 576px) and (max-width: 767px){
    .cardsTriplo{
        height: 90px;
    }
    .textoTriplo{
        display: none;
    }
    .cajazeiras{
        font-size: 1em;
        margin-left: -30%;
    }
    .linkTriplo{
        position: relative;
        left: 50%;
    }
    .btnEnviar{
        margin-top: 7.3rem !important;
    }
}
@media only screen and (min-width: 600px){
    .btnsSlider{
        position: absolute;
        margin-top: 20%;
        margin-left: 60%;
    }
    .btnEmagraca{
        margin-left: 17% !important;
    }
}

@media only screen and (min-width: 768px) {
    #area-do-aluno{
        height: 100vh;
    }
    #footer{
        height: 320px;
    }
    .tituloUnidades{
        position: relative;
        margin-top: 11%;
    }
    .btnEnviar{
        margin-top: 7.3rem !important;
    }
}
