.sobre{
    margin-top: 4.33rem !important;
    background-image: url('/idealFitness/Imagens/sobreBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 160vh;
}
.murilo{
    border-radius: 60px;
}
.background{
    border-radius: 20px;
    background-color: #DADADA;
    width: 80%;
    position: relative;
    top: 5%;
    left: 5%;
}
.textoMurilo{
    font-size: 1.2em;
}