.sobre{
    margin-top: 6rem !important;
    background-image: url('/idealFitness/Imagens/sobreBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.murilo{
    height: 20%;
    width: 80%;
}
.background{
    background-color: #DADADA;
    width: 80%;
}