.financeiro{
    margin-top: 4.33rem !important;
    background-image: url('/idealFitness/Imagens/financeiroBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.tituloConsulta{
    position: relative;
    top: -2vh;
}
.quadro1{
    /* display: block; */
    top: 30%;
}
.btnEntrar{
    margin-left: 38%;
}
.quadro2{
    display: none;
    position: relative;
    top: 15vh;
}
ul li{
    list-style-type: none;
}
