@media only screen and (min-width: 600px){
    .btnsSlider{
        position: absolute;
        margin-top: 20%;
        margin-left: 60%;
    }
    .btnEmagraca{
        margin-left: 17% !important;
    }
}

@media only screen and (min-width: 768px){
    #area-do-aluno{
        height: 100vh;
    }
    #footer{
        height: 320px;
    }
}